@using VOneDomain.Models
@model ProductGallery

@using (Ajax.BeginForm("EditGallery",
    "Product",
    FormMethod.Post,
    new AjaxOptions()
    {
        OnSuccess = "loadListGallery",
        UpdateTargetId = "div-list-gallery"
    }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductGalleryId)
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.ImageUrl)

    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ویرایش تصویر</h4>
                    <p class="card-description mb-5">
                        اطلاعات را وارد کرده و دکمه تایید را یزنید
                    </p>
                    <hr />
                    <div class="form-group">
                        <label>تصویر</label>
                        <div>
                            <img id="img-preview-gallery" src="~/Content/Image/@(Model.ImageUrl==null?"no-image.png":"Gallery/"+Model.ImageUrl+"")" class="img-thumbnail" />
                        </div>
                        <input type="file" id="input-img-gallery" name="image" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" name="image" class="form-control file-upload-info" disabled="" placeholder="تصویر">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">بارگزاری</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">عنوان تصویر</label>
                        <input type="text" class="form-control" value="@Model.Title" id="title" name="Title" placeholder="عنوان تصویر">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">تایید</button>
                    <button type="button" onclick="showAddGallery()" class="btn btn-light">بازگشت</button>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Content/AdminPanel/js/panel-script.js"></script>
<script src="/Content/AdminPanel/js/file-upload.js"></script>