@model IEnumerable<VOneDomain.Models.ProductCategory>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">لیست دسته بندی محصولات</h4>
                <hr />
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>
                                    عنوان دسته
                                </th>
                                <th>
                                    زیر دسته ها
                                </th>
                                <th>
                                    عملیات
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(c => c.ParentId == null))
                            {
                                <tr>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @if (Model.Any(c => c.ParentId == item.ProductCategoryId))
                                        {
                                            <ul>
                                                @foreach (var item1 in Model.Where(c => c.ParentId == item.ProductCategoryId))
                                                {
                                                    <li style="padding: 5px 0">
                                                        @item1.Title
                                                        <button onclick="showEditCategory(@item1.ProductCategoryId)" style="width: 30px; height: 30px;margin-right: 30px" type="button" class="btn btn-primary btn-rounded btn-icon">
                                                            <i class="mdi mdi-18px mdi-pencil-circle-outline"></i>
                                                        </button>
                                                        <button onclick="DeleteCategory(@item1.ProductCategoryId)" type="button" style="width: 30px; height: 30px;margin-right: 7px" class="btn btn-danger btn-rounded btn-icon">
                                                            <i class="mdi mdi-delete-outline"></i>
                                                        </button>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </td>
                                    <td>
                                        <button onclick="showEditCategory(@item.ProductCategoryId)" type="button" class="btn btn-success btn-rounded btn-icon">
                                            <i class="mdi mdi-pencil-circle-outline"></i>
                                        </button>
                                        <button onclick="DeleteCategory(@item.ProductCategoryId)" type="button" class="btn btn-danger btn-rounded btn-icon">
                                            <i class="mdi mdi-delete-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

